//***************************************************//
//***************************************************//
//*****************     VARIABLES     ***************//
//***************************************************//
//***************************************************//


$mainBgColor: #FF8585;



//***************************************************//
//***************************************************//
//*****************    MAIN STYLES    ***************//
//***************************************************//
//***************************************************//

*{
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0; // what is this all of a sudden?
}


body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;

}

//***************************************************//
//***************************************************//
//*****************       HEADER      ***************//
//***************************************************//
//***************************************************//

header{
  background-color: $mainBgColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .logo{
    padding: 1em 0 .4em;
    svg{
      display: block;
      margin: 0 auto;
    }
  }
  nav{
    ul{
      display: flex;
      padding: 0;
      margin-bottom: .8em;
      li{
        list-style: none;
        color: white;
        padding: 0 .5em;
      }
      li:first-child{
        border-right: 2px solid white;
      }
    }
  }
}

// animate logo to the left and nav next to it if the animationis done





//***ANIMATE LOGO***//
.path {
  stroke-dasharray: 4924;
  stroke-dashoffset: 4924;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
     stroke-dashoffset: 0;
  }
}

//*** UNDERLINE ***//
.underline{
  position: relative;
}

.underline1::after{
  position: absolute;
  content: url(../img/underline1.svg);
  opacity: 0.7;
  top: 5px;
  left: 0px;
}

.underline2::after{
  position: absolute;
  content: url(../img/underline2.svg);
  opacity: 0.7;
  top: 5px;
  left: 0px;
}






//***************************************************//
//***************************************************//
//*****************       ASIDE     ***************//
//***************************************************//
//***************************************************//
.intro-text{
  background-color: white;
  padding: .5em;
    h3{
      text-align: center;
      font-weight: lighter;
    }
}


//***************************************************//
//***************************************************//
//*****************       GRID      ***************//
//***************************************************//
//***************************************************//

.grid{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  grid-gap: 20px;
  margin: 0 20px;
  .grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .thumbnail{
      position: relative;
      cursor: pointer;
      img{
        width: 100%;
        height: auto;
      }
      //*** BORDERS ***//
      svg{
        // display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        opacity: .5;

         path {
          // stroke-dasharray: 903;
          // stroke-dashoffset: 903;
          animation: border .7s linear forwards;
        }

        @keyframes border {
          to {
             stroke-dashoffset: 0;
          }
        }
      }
    }
  }
}









//***************************************************//
//***************************************************//
//*****************      FOOTER       ***************//
//***************************************************//
//***************************************************//


//***************************************************//
//***************************************************//
//***************    PSEUDO ELEMENTS    *************//
//***************************************************//
//***************************************************//





//***************************************************//
//***************************************************//
//***************     MEDIA QUERIES     *************//
//***************************************************//
//***************************************************//
